* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9fbfe;
  color: #222;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.search {
  padding: 2rem;
  text-align: center;
}

.search input {
  padding: 1rem;
  width: 60%;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.slider {
  background-image: url(https://t3.ftcdn.net/jpg/04/45/16/96/360_F_445169635_V92LnhJXoMapMXuR4k9bVIu3lHZhDnWc.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 4rem 2rem;
  text-align: center;
  justify-content: center;
  gap: 15px;
}

.slider h1 {
  color: #1d5e81;
  margin-bottom: 1rem;
}

.slider button {
  padding: 1rem 2rem;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.product {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.product:nth-child(1) {
  background-image: url(https://th.bing.com/th/id/R.e5b9d34e5cfdcae4d225a03545594981?rik=eIZiP6QTaYUsaw&pid=ImgRaw&r=0);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.product:nth-child(2) {
  background-image: url();
}

.product:nth-child(3) {
  background-image: url();
}

.product:nth-child(4) {
  background-image: url();
}
.product button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.advantages {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #e6f0fa;
}

.advantages div {
  text-align: center;
}

.subscribe {
  background-color: #dff0ff;
  padding: 2rem;
  text-align: center;
}

.subscribe input {
  padding: 1rem;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.subscribe button {
  padding: 1rem 2rem;
  margin-left: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
}

footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem;
}
